In [1]:
import MetaTrader5 as mt5
import pandas as pd

In [3]:
mt5.initialize(  # type: ignore
    path="C:\\Program Files\\Darwinex MT5\\terminal64.exe",
    login=3000065368,
    password="cS5O6j101#",
    server="Darwinex-Demo",
    timeout=60000,
    portable=False)

True

In [4]:
symbol = "EURUSD"
tf = mt5.TIMEFRAME_M15
from_position = 1
num_bars = 50
bars = pd.DataFrame(mt5.copy_rates_from_pos(symbol, tf, from_position, num_bars))  # type: ignore
bars["time"] = pd.to_datetime(bars["time"], unit="s")
bars.set_index("time", inplace=True)
bars.rename(columns={'tick_volume': 'tickvol', 'real_volume': 'vol'}, inplace=True)
bars = bars[['open', 'high', 'low', 'close', 'tickvol', 'vol', 'spread']]
bars.head()

                        open     high      low    close  tickvol  vol  spread
time
2024-05-15 19:45:00  1.08714  1.08728  1.08685  1.08720      515    0       0
2024-05-15 20:00:00  1.08720  1.08783  1.08716  1.08781      661    0       0
2024-05-15 20:15:00  1.08782  1.08787  1.08740  1.08766      489    0       0
2024-05-15 20:30:00  1.08766  1.08802  1.08760  1.08769      415    0       0
2024-05-15 20:45:00  1.08769  1.08805  1.08756  1.08799      347    0       0

In [8]:
%%timeit
bars.close.rolling(window=10).mean().iloc[-1]

177 µs ± 51.8 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [9]:
%%timeit
bars['close'][-10:].mean()

98.1 µs ± 16.9 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [11]:
bars[-5:]

                        open     high      low    close  tickvol  vol  spread
time
2024-05-14 15:30:00  1.07954  1.08089  1.07668  1.08053     5246    0       0
2024-05-14 15:45:00  1.08053  1.08106  1.08000  1.08031     2387    0       0
2024-05-14 16:00:00  1.08031  1.08220  1.08007  1.08198     2201    0       0
2024-05-14 16:15:00  1.08198  1.08227  1.08121  1.08156     1746    0       0
2024-05-14 16:30:00  1.08155  1.08181  1.08117  1.08135     1438    0       0

In [39]:
mt5.symbol_info_tick("EURUSD")._asdict()  # type: ignore

{'time': 1715638320,
 'bid': 1.07873,
 'ask': 1.07875,
 'last': 0.0,
 'volume': 0,
 'time_msc': 1715638320325,
 'flags': 4,
 'volume_real': 0.0}

In [42]:
def get_latest_tick(symbol: str) -> dict[str, any]:  # type: ignore
    try:
        tick = mt5.symbol_info_tick(symbol)  # type: ignore
        if tick is None:
            print(f"Unable to retrieve last tick data of {symbol}!")
            return {}  # type: ignore
    except Exception as e:
        print(f"Something went wrong retrieving data from {symbol}. MT5 errror: {mt5.last_error()}, exception: {e}")  # type: ignore
    
    else:
        return tick._asdict()  # type: ignore

In [45]:
get_latest_tick("asfda")

Unable to retrieve last tick data of asfda!

{}

In [47]:
from enum import StrEnum, auto

class EventType(StrEnum):
    DATA = auto()

In [49]:
evento: EventType = EventType.DATA

In [7]:
# symbol_info
mt5.symbol_info("XNGUSD").volume_min  # type: ignore

0.1